<ion-header>
 <ion-toolbar color="primary"> 
<ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button> -->
    <!-- </ion-buttons> -->
    <ion-title>Add Complaint</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="add-complain-bg" [fullscreen]="true">
  <div class="form-wrapper">

    <form [formGroup]="complainForm" (ngSubmit)="submitComplain()">

      <ion-list lines="none">

        <ion-item>
          <ion-label position="floating">Pole No</ion-label>
          <ion-input formControlName="pole_no"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Complaint Type</ion-label>
          <ion-select formControlName="complaint_type" interface="action-sheet">
            <ion-select-option *ngFor="let type of complaintTypes" [value]="type.id">
              {{ type.complaint_type }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Street</ion-label>
          <ion-input formControlName="street"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Landmark</ion-label>
          <ion-input formControlName="landmark"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Pincode</ion-label>
          <ion-input formControlName="pincode" type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Area (Auto-detected)</ion-label>
          <ion-input formControlName="area" readonly></ion-input>
        </ion-item>

      </ion-list>

      <div class="image-section">
        <ion-button expand="block" color="medium" fill="outline" (click)="selectImage()">
          <ion-icon name="camera-outline" slot="start"></ion-icon>
          Capture / Select Image
        </ion-button>

        <div *ngIf="imagePreview" class="image-preview">
          <img [src]="imagePreview" />
        </div>
      </div>

      <div class="button-group">
        <ion-button expand="block" type="submit" color="primary" [disabled]="complainForm.invalid">
          Submit Complaint
        </ion-button>
      </div>

    </form>

    <ion-loading [isOpen]="isLoading" message="Please wait..."></ion-loading>
  </div>
</ion-content>
