<ion-header>
 <ion-toolbar color="primary"> 
<ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Edit Complaint</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="complaintForm" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label position="floating">Pole No</ion-label>
      <ion-input formControlName="pole_no"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Complaint No</ion-label>
      <ion-input formControlName="complaint_no"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Complaint Type</ion-label>
      <ion-select formControlName="complaint_type" interface="action-sheet" placeholder="Select Type">
        <ion-select-option *ngFor="let type of complaintTypes" [value]="type.id">
          {{ type.complaint_type }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Street</ion-label>
      <ion-input formControlName="street"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Area</ion-label>
      <ion-input formControlName="area"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Landmark</ion-label>
      <ion-input formControlName="landmark"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Pincode</ion-label>
      <ion-input formControlName="pincode"></ion-input>
    </ion-item>

    <ion-item *ngIf="existingImage" style="height: 200px;">
      <img [src]="existingImage" class="image-preview" />
    </ion-item>

    <!-- <ion-button *ngIf="existingImage" expand="block" color="danger" fill="outline" (click)="confirmDeleteImage()">
      Delete Existing Image
    </ion-button> -->

    <!-- <ion-item>
      <ion-label>Select New Image</ion-label>
      <input type="file" (change)="onImageSelect($event)" />
    </ion-item> -->
    <div class="image-section">
      <ion-button expand="block" color="medium" fill="outline" (click)="selectImage()">
        <ion-icon name="camera-outline" slot="start"></ion-icon>
        Capture / Select Image
      </ion-button>

      <div *ngIf="imagePreview" class="image-preview">
        <img [src]="imagePreview" />
      </div>
    </div>

    <ion-button expand="block" type="submit" class="ion-margin-top">
      Update Complaint
    </ion-button>
  </form>
</ion-content>
