<ion-header>
 <ion-toolbar color="primary"> 
<ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>View Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngIf="user">
    <ion-card-header>
      <ion-card-title>{{ user.first_name }} {{ user.last_name }}</ion-card-title>
      <ion-card-subtitle>{{ user.email_id }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Phone:</strong> {{ user.phone_no }}</p>
      <p><strong>Area:</strong> {{ user.area }}</p>
      <p><strong>Landmark:</strong> {{ user.landmark }}</p>
      <p><strong>Address:</strong> {{ user.address }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
