<ion-content class="login-bg" [fullscreen]="true">
  <div class="login-wrapper" style="margin-top: 44%;">
    <div class="login-card">
      <div class="logo-section">
        <img src="assets/app-logo.png" alt="App Logo" />
        <h1>STC Services</h1>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <ion-item lines="none">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-input formControlName="email_id" type="email" placeholder="Email"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
        </ion-item>

        <ion-button expand="block" class="login-btn" type="submit" [disabled]="loginForm.invalid">
          Login
        </ion-button>

        <div class="link-row">
          <a routerLink="/forgot-password">Forgot Password?</a>
          <a routerLink="/register" class="register-link">Register</a>
        </div>
      </form>
    </div>
  </div>
  <ion-loading [isOpen]="isLoading" message="Please wait..."></ion-loading>

</ion-content>
