.dashboard-bg {
    --background: linear-gradient(to bottom right, #f4f4f4, #eaeaea);
}

.dashboard-wrapper {
    padding: 20px;
}

.dashboard-logo {
    height: 40px;
    margin: 0 auto 6px;
    display: block;
}

.welcome-card {
    text-align: center;
    margin-bottom: 20px;

    h2 {
        font-weight: bold;
        font-size: 22px;
        color: #1a1a1a;
    }

    .location {
        font-size: 14px;
        color: #777;
    }
}

.status-box {
    border-radius: 14px;
    padding: 20px;
    text-align: center;
    margin-bottom: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    color: white;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    min-height: 120px;

    h3 {
        font-size: 26px;
        margin: 0 0 6px 0;
    }

    p {
        font-size: 14px;
        margin: 0;
    }

}

.status-box.ongoing {
    background-color: #17a2b8; // Cyan
    color: white;
}

.status-box.total {
    background-color: #6c757d; // Grey
    color: white;
}
.status-box.completed {
    background-color: #28a745 !important;
    color: white;
}

.status-box.pending {
    background-color: #ffc107 !important;
    color: #1a1a1a;
}



ion-col {
    display: flex;
}

.status-box {
    flex: 1; // takes full height inside ion-col
}

.cta-button {
    margin-top: 20px;
    border-radius: 12px;
    background-color: #e30613;
    font-weight: bold;
    color: white;
}