<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Old Password</ion-label>
      <ion-input formControlName="old_password" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">New Password</ion-label>
      <ion-input formControlName="new_password" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input formControlName="confirm_password" type="password"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" class="ion-margin-top">
      Update Password
    </ion-button>
  </form>
</ion-content>
